streamlit
langchain>=0.1.0
langchain-google-genai
langchain-community
langchain-core
langchain-text-splitters
chromadb
pymupdf
beautifulsoup4
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
python-dotenv
pydantic
requests
pypdf
